@model Admin_Remix_Viewmodel
@{
    Layout = "../Shared/_admin_layout.cshtml";
    ViewBag.title = "مدیریت ریمیکس ها";
    <link rel="stylesheet" href="~/css/admin layout/Remix_manage_page_style.css" />
}
<section class="add_new_remix">
    <h2 class="error_massage">@ViewBag.error</h2>
    <form method="post" enctype="multipart/form-data" asp-action="Add_remix" asp-controller="Remix" asp-route-musicid="musicid">
        <label for="remixname">نام ریمیکس</label>
        <input type="text" id="remixname"  name="RemixName" maxlength="60" required oninvalid="this.setCustomValidity('لطفا نام ریمیکس را وارد کنید')" oninput="setCustomValidity('')" />

        <br />
        <label for="remixcreator">سازنده ریمیکس</label>
        <input type="text" id="remixcreator" name="Remix_Creator" maxlength="40" required oninvalid="this.setCustomValidity('لطفا نام سازنده ریمیکس را وارد کنید')" oninput="setCustomValidity('')" />

        <br />
        <label for="commentstatus">وضعیت نظرات</label>
        <select id="commentstatus" name="comment_status">
            <option value="0">بسته</option>
            <option value="1">نیاز به تایید ادمین</option>
            <option value="2">باز</option>
        </select>

        <br />
        <label for="musicselect">انتخاب آهنگ</label>
        <select id="musicselect" name="musicid">
            <option value="0">ندارد</option>
            @foreach (var music in Model.music_name)
            {
                <option value="@music.Id">@music.Name</option>
            }
        </select>

        <br />
        <label for="remixfile">فایل ریمیکس</label>
        <input type="file" id="remixfile" name="Remixfile"  required oninvalid="this.setCustomValidity('لطفا فایل ریمیکس را انتخاب کنید')" oninput="setCustomValidity('')" />

        <br />
        <input type="submit" value="افزودن ریمیکس" />
    </form>
</section>
<hr />
<h2>@ViewBag.berror</h2>
@{
    if (Model.remixes != null)
    {
        <form class="search" asp-action="Get_remix_Page" asp-controller="Remix" asp-route-searchname="searchname">
            <input type="search" name="searchname" required oninvalid="this.setCustomValidity('لطفا عبارت جست و جو را وارد کنید')" oninput="setCustomValidity('')" />
            <input type="submit" value="جست و جو" />
            <br />
            <a asp-action="Get_remix_Page" asp-controller="Remix" asp-route-pageid="1">حذف فیلتر </a>
        </form>
        <table>
            <tr>
                <th>
                    کد ریمیکس
                </th>
                <th>
                    نام ریمیکس
                </th>
                <th>
                    سازنده ریمیکس
                </th>
                <th>
                    وضعیت نظرات
                </th>
                <th>
                    فایل ریمیکس
                </th>
                <th>
                    نویسنده
                </th>
                <th>
                    اهنگ
                </th>
                <th>
                    مدیریت
                </th>
            </tr>
            @foreach (var remix in Model.remixes)
            {
                <tr>
                    <td>@remix.RemixId</td>
                    <td>
                        <a asp-action="Full_remix" asp-controller="Music" asp-route-remixid="@remix.RemixId">@remix.RemixName</a>
                    </td>
                    <td>@remix.Remix_Creator</td>
                    @{
                        if (remix.comment_status == 0)
                        {
                            <td>بسته</td>
                        }
                        if (remix.comment_status == 1)
                        {
                            <td>نیاز به تایید ادمین</td>
                        }
                        if (remix.comment_status == 2)
                        {
                            <td>باز</td>
                        }
                    }
                    <td>
                        <audio controls preload="none">
                            <source src="~/Music/Remix/@remix.File_Name" />
                        </audio>
                    </td>
                    <td>@remix.admin.Admin_Name</td>

                    @{
                        if (remix.music != null)
                        {
                            <td>
                                <a asp-action="Full_Song" asp-controller="Music" asp-route-songid="@remix.music.SongId">@remix.music.Song_Name</a>
                            </td>
                        }
                        else
                        {
                            <td>ندارد</td>
                        }
                    }
                    <td>
                        <a asp-action="Delete_remix" asp-controller="Remix" asp-route-remixid="@remix.RemixId">حذف</a>

                        <a asp-action="Edit_remix_page" asp-controller="Remix" asp-route-remixid="@remix.RemixId">ویرایش</a>

                        <a asp-action="Show_comment" asp-controller="Comment" asp-route-postid="@remix.RemixId" asp-route-post_type="2">دیدن نظرات</a>
                    </td>

                </tr>
            }
        </table>
        <div class="page_numbers">
            @for (int i = 1; i <= ViewBag.pagecount; i++)
            {
                <a asp-action="Get_remix_Page" asp-controller="Remix" asp-route-pageid="@i" class="@((ViewBag.currentpage==i)?"active":"")">@i</a>
            }
        </div>
    }
    else
    {
        <h2>ریمیکسی موجود نیست</h2>
    }
}
